@font-face {
  font-family: "YESMyoungjo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESMyoungjo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.header {
  width: 100vw;
  position: fixed;
  top: 0px;
  z-index: 1;
  padding: 20px 0;
  color: #487eb0;
  font-family: "YESMyoungjo-Regular";
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
}
.nav {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 24px;
}
.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.link > li {
  font-size: 20px;
  padding: 8px 12px;
  border-radius: 10px;
  border: none;
  transition: all 0.3s;
}
.link > li:hover {
  cursor: pointer;
  background-color: #487ed0;
  color: white;
  opacity: 0.8;
}
@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
    gap: 20px;
  }
}
